div#container.layout.pusher

  //-----------------------------------------------------------------------------
  // header
  //-----------------------------------------------------------------------------

  div#header.fixed.ui.attached.inverted.large.borderless.menu
    div.ui.container

      // logo
      a#logo.ui.item(href="#{header.logo.url}")
        img.ui(src="#{header.logo.image}")

      // header
      div.ui.item.header 
        | #{header.title}
        
      div.right.menu
        // github link
        a.ui.item(href="#{header.github.url}")
          i.github.large.icon
          | #{header.github.text}

  //-----------------------------------------------------------------------------
  // sub-header
  //-----------------------------------------------------------------------------

  div#sub-header.ui.inverted.basic.segment
    div.ui.container

      div.ui.inverted.basic.segment.header.small
        | !{header.description}

  //-----------------------------------------------------------------------------
  // content
  //-----------------------------------------------------------------------------

  div.layout.filler
    div.ui.container
    
      div.ui.hidden.divider
      
      div.ui.grid
        div#sidebar.four.wide.column
          div.ui.basic.segment
            div.ui.sticky
              div.ui.fluid.vertical.small.menu
                for category in categories
                  a.item= category.title

        div#content.twelve.wide.column
          for category in categories
          
            // category
            div.ui.basic.segment
              h2.ui.header= category.title
              p= category.description
              
              div.ui.doubling.three.cards
                for project in category.projects
                
                  // project
                  a.ui.card(href="/gradle-relnotes/")
                    div.image
                      img(src="#{project.image}")
                    
                    div.content
                      div.header= project.title
                      div.meta: span.releases= project.meta
                      div.description= project.description
                      
                    div.extra.content
                      div.right.floated.time= project.time
                      span.version
                        i.tag.icon
                        = project.tag
                      
      div.ui.hidden.divider

  //-----------------------------------------------------------------------------
  // footer
  //-----------------------------------------------------------------------------

  div#footer.ui.inverted.vertical.footer.segment
    div.ui.center.aligned.container
      div.ui.stackable.inverted.grid
        div.sixteen.wide.column Copyright &copy; 2015 entera GbR
        //div.four.wide.column a
        //div.four.wide.column b
        //div.four.wide.column c
        //div.four.wide.column d
