div#container.layout.pusher

  //-----------------------------------------------------------------------------
  // header
  //-----------------------------------------------------------------------------

  div#header.fixed.ui.attached.inverted.large.borderless.menu
    div.ui.container

      // logo
      a#logo.ui.item(href="#{header.logo.url}")
        img.ui(src="#{header.logo.image}")

      // header
      div.ui.item.header 
        | #{header.title}
        
      div.right.menu
        // github link
        a.ui.item(href="#{header.github.url}" target="_blank")
          i.github.large.icon
          | #{header.github.text}

  //-----------------------------------------------------------------------------
  // sub-header
  //-----------------------------------------------------------------------------

  div#sub-header.ui.inverted.basic.segment
    div.ui.container

      div.ui.inverted.basic.segment.header.small
        | !{header.description}

  //-----------------------------------------------------------------------------
  // content
  //-----------------------------------------------------------------------------

  div.layout.filler
    div.ui.container
    
      div.ui.hidden.divider
      
      div.ui.grid
        div#sidebar.four.wide.column.computer.only
          div.ui.basic.segment
            div.ui.sticky
              div.ui.fluid.vertical.small.menu
                for category in categories
                  a.item= category.title

        div#content.twelve.wide.column
          for category in categories
          
            // category
            div.ui.basic.segment
              h2= category.title
              p= category.description
              
              div.ui.doubling.three.cards
                for project in category.projects
                
                  // project
                  a.ui.fluid.card(href="#{project.url}")
                    div.image
                      img(src="#{project.image}")
                    
                    div.content
                      div.header= project.title
                      div.description= project.description
                      
                    div.extra.content
                      div.ui.horizontal.list
                        div.item.version
                          i.tag.icon
                          = project.version
                        div.item.stars
                          i.star.icon
                          = project.stars
                        div.item.forks
                          i.fork.icon
                          = project.forks
                      
      div.ui.hidden.divider

  //-----------------------------------------------------------------------------
  // footer
  //-----------------------------------------------------------------------------

  div#footer.ui.inverted.vertical.footer.segment
    div.ui.center.aligned.container
      div.ui.stackable.inverted.grid
        div.four.wide.column.left.aligned
          strong Open Source
          div.ui.inverted.link.list
            a.item(href="https://entera.github.io/") entera Open Source
            a.item(href="https://github.com/entera/") entera GitHub

        div.right.aligned.twelve.wide.column
          div: img(src="/assets/entera_logo.png")
          //div Copyright &copy; 2015 <strong>entera GbR</strong>. All rights reversed.

        

